<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Soluta, iste error. 
            At porro tempore animi. 
            Laudantium accusamus explicabo quod illo aspernatur officia, 
            rem adipisci pariatur quaerat corrupti delectus sint inventore 
            mollitia debitis cumque praesentium eligendi commodi 
            deserunt ut tempora beatae!</p>
    </div>
</div>