<div class="jumbotron mt-4">
    <h1 class="display-4"> Notas y login con nodejs </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nam minima recusandae tenetur sit amet officia dicta temporibus ad consequuntur officiis?
    </p>
</div>